.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  

 
  
  
 
  &:hover {
    transform: scale(1.05);
  }

  .card-img-top {
    transition: opacity 0.3s;
    height: 20rem;
    
    @media screen and (max-width: 768px) {
      height: 15rem;
      
      object-fit: cover;
    }
    
  }

  .secondImg {
    opacity: 0;
  }

  &:hover .secondImg {
    opacity: 1;
  }

  .new-season-badge {
    background-color: white;
    color: #007bff; /* Bootstrap primary color */
    border-radius: 5px;
    padding: 2px 5px;
  }
  .card-title {
    font-size: 14px;
  }

}
