.card {
  width: 260px; /* Fixed width for the card */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  @media screen and (max-width: 768px) {
    width: 170px;
  }
  &:hover {
    transform: scale(1.05);
  }

  .card-img-top {
    width: 100%; /* Ensures the image fits the card width */
    height: 20rem;
    object-fit: cover; /* Maintains the aspect ratio */
    transition: opacity 0.3s;

    @media screen and (max-width: 768px) {
      height: 15rem;
    }
  }

  .secondImg {
    opacity: 0;
  }

  &:hover .secondImg {
    opacity: 1;
  }

  .new-season-badge {
    background-color: white;
    color: #007bff; /* Bootstrap primary color */
    border-radius: 5px;
    padding: 2px 5px;
  }

  .card-title {
    font-size: 14px;
  }
}
